<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
    <p>
    Splurty was built by <a target="_blank" href="http://marleyhamrick.getforge.io">Marley</a>, a web development student.
  </p>
  <br />

  <p>
    If you want to learn how to code, start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

   <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'Marley.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Marley Hamrick</h2>
      <br />
      <p>
        Marley Hamrick is in training to become a software engineer. She currently works in nonprofit development and communications. She earned her BA from Colorado College in Gender Studies and her MA from Colorado State University in Ethnic Studies.
      </p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />
  </div>
</div>